*{
    margin: 0px;
    padding: 0px;
}
.left{ display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 222px;
    height: 522px;
    background-color: rgb(86, 196, 196);
}
